<h1>Thank you for your purchase!</h1>

<p>If you see this email it means that we took the money from your card successfuly. See summary below</p>

<table>
  <thead>
    <th>Ticket</th>
    <th>Quantity</th>
    <th>Unit price</th>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.event_name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.unit_price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Shipping type</td>
      <td></td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td collspan="2">Shipping type</td>
      <td></td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr></tr>
    <tr>
      <th>Summary</th>
      <td></td>
      <td collspan="2"><%= @order.full_cost %></td>
    </tr>
  </tbody>
</table>
